.LandingPageNav {
  background-color: #333;
  text-align: center;
}

.LandingPageNav a,
.LandingPageNav a:active,
.LandingPageNav a:focus,
.LandingPageNav a:visited {
  color: #ececea;
  text-decoration: none;
}

.LandingPageNav a:hover {
  color: #ffffff;
  text-decoration: solid;
}

.LandingPageNav a:not(:last-of-type) {
  margin-right: 32px;
}