.DemoNav {
    background-color: #333;
    text-align: center;
  }
  
  .DemoNav a,
  .DemoNav a:active,
  .DemoNav a:focus,
  .DemoNav a:visited {
    color: #ececea;
    text-decoration: none;
  }
  
  .DemoNav a:hover {
    color: #ffffff;
    text-decoration: solid;
  }
  
  .DemoNav a:not(:last-of-type) {
    margin-right: 32px;
  }