.MainMap {
    padding: 10px;
}

.mapboxgl-map {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}

.mapContainer {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 8px;
    border-style: solid;
    border-image: url("../App/images/banner.jpg") 80 round;
}

.mapboxgl-popup-content {
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    border-color: #012611;
    border-width: 5px;
}


  @media screen and (min-width: 1000px) {
    .mapContainer {
        height: 350px;
        width: 350px;
        margin: 0 auto;
    }
  }