.mapboxgl-map {
    position: relative;
    display: flex;
    flex-direction: column;
}

.mapboxgl-popup-content {
    font-size: 12px;
    width: 150px;
    font-family: 'Lato', sans-serif;
    background: #f2f2f2;
    border-width: 3px;
}

.mapContainer {
    width: 175px;
    height: 175px;
    margin: 0 auto;
    border: 5px;
    border-style: solid;
    border-image: url("../Utils/images/banner.jpg") 80 round;
}

@media screen and (min-width: 750px) {
    .mapContainer {
        height: 250px;
        width: 250px;
    }
}

  @media screen and (min-width: 1000px) {
    .mapContainer {
        height: 350px;
        width: 350px;
    }

    .mapboxgl-popup-content {
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        border-color: #012611;
        border-width: 3px;
    }
  }