.LoginPage {
    height: 100%;
    padding: 20px;
    margin-bottom: auto;
    font-family: 'Lato', sans-serif;
}

.LoginPage h2 {
    text-align: center;
    margin-top: 0px;
    padding-top: 25px;
}

.LoginPage p {
    text-align: center;
}
