.LandingPage {
    text-align: center;
    padding-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

.LandingPage h2 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Noto Sans HK', sans-serif;
}

.LandingPage section {
    padding: 20px;
    border-style: solid;
    margin-bottom: 5px;
    border-radius: 5px;
    border-image: url("../App/images/banner.jpg") 80 round;
    border-width: 8px;
}

.LandingPage a,
.LandingPage a:active,
.LandingPage a:focus,
.LandingPage a:visited {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.LandingPage-instructions {
    font-size: 12px;
}