.LandingPage {
    text-align: center;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}

.LandingPage h2 {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}

.LandingPage-section {
    padding: 20px;
    border-style: solid;
    margin-bottom: 5px;
    border-radius: 5px;
    border-image: url("../App/images/banner.jpg") 80 round;
    border-width: 8px;
}

.LandingPage-first-section {
    padding: 20px;
    border-style: solid;
    margin-bottom: 5px;
    border-radius: 5px;
    border-image: url("../App/images/banner.jpg") 80 round;
    border-width: 8px;
    border-top-style: none;
}

.LandingPage-header {
    background-image: url("../App/images/banner.jpg");
    padding-bottom: 10px;
}

.LandingPage h2 {
    margin-bottom: 0px;
    color: #fcfaf1;
}

.LandingPage a,
.LandingPage a:active,
.LandingPage a:focus,
.LandingPage a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.LandingPage button {
    width: 25%;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    background-image: url("../Utils/images/button.png");
}

.LandingPage-link {
    font-family: 'Noto Sans KR', sans-serif;
}

.LandingPage-instructions {
    font-size: 12px;
}