/* .mapContainer {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-direction: column;
    height: 200px;
    width: 85%;
} */

.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }

/* @media screen and (min-width: 460px) {
    .mapContainer {
        height: 100%;
        width: 100%;
        margin: 10px auto;
    }
} */