.AddObservationMap {
    text-align: center;
    padding: 15px 0px;
}

.mapContainer {
    height: 200px;
    width: 200px;
    margin: 10px auto;
}

.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }

@media screen and (min-width: 460px) {
    .mapContainer {
        height: 400px;
        width: 400px;
        margin: 10px auto;
    }
}