.ObservationList {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0px;
    padding: 20px;  
    font-family: 'Lato', sans-serif;
    border-style: solid;
    border-radius: 5px;
    border-image: url("../Utils/images/banner.jpg") 80 round;
    border-width: 6px;
}

.ObservationList h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.ObservationList select {
    width: 25%;
}

.ObservationList ul, li {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
}

.ObservationList li {
    margin-left: 0px;
}

.ObservationList button {
    background-color: #012611;
    width: 50%;
    color: #f2f2f2;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.ObservationList select {
    width: 50%;
}

@media screen and (min-width: 1000px) {
    .ObservationList button {
        width: 25%;
  }
}