.MyNaturehood {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0px;
    padding: 20px;  
    font-family: 'Lato', sans-serif;
    border-style: solid;
    border-radius: 5px;
    border-image: url("../App/images/banner.jpg") 80 round;
    border-width: 5px;
}

.MyNaturehood select {
    width: 50%;
    background-color: #f2f2f2;
}

.MyNaturehood-instructions {
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 50px;
}

.MyNaturehood h3 {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.MyNaturehood ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.MyNaturehood li {
    margin-left: 0px;
    padding-bottom: 10px;
}

.MyNaturehood-item {
    align-self: center;
}

.MyNaturehood-speciesImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #012611;
}

.MyNaturehood-title {
    font-weight: bold;
}

.MyNaturehood-error {
    color: red;
    text-align: center;
} 

.MyNaturehood-observations {
    background-color: #D2D8D9;
    padding: 10px;
    border-radius: 12px;
    border-width: 5px;
    border-style: solid;
    border-image: url("../App/images/banner.jpg") 80 round;
}