.MyNaturehood {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0px; 
    font-family: 'Lato', sans-serif;
    border-style: solid;
    border-radius: 50%;
    border-image: url("../Utils/images/banner.jpg") 80 round;
    border-width: 6px;
}

.MyNaturehood select {
    width: 50%;
    background-color: #f2f2f2;
}

.MyNaturehood-instructions {
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 50px;
}

.MyNaturehood h3 {
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}

.MyNaturehood ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.MyNaturehood li {
    margin-left: 0px;
    padding-bottom: 10px;
}

.MyNaturehood-item {
    align-self: center;
}

.MyNaturehood-speciesImage {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: #012611;
}

.MyNaturehood-title {
    font-weight: bold;
    font-family: 'Homemade Apple', cursive;
    font-size: 18px;
}

.MyNaturehood-error {
    color: red;
    text-align: center;
} 

.MyNaturehood-observations {
    background-color: #D2D8D9;
    padding: 10px;
    border-top: 5px solid; 
    border-image: url("../Utils/images/banner.jpg") 80 round;
}

.MyNaturehood-observation {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;
    border-bottom: 2px solid 
}

.MyNaturehood select {
    width: 80%;
    background-color: #f2f2f2;
}

@media screen and (min-width: 1000px) {
    .MyNaturehood select  {
        width: 50%;
  }
}