.AddObservation h2 {
    text-align: center;
}

.AddObservation {
    border-radius: 5px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.AddObservation textarea {
    font-family: sans-serif
}

.AddObservation-form {
    width: 80%;
    margin: 0 auto;
}

.AddObservation-latlong {
    font-style: italic;
    font-size: 12px;
}

.AddObservation input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.AddObservation button {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.AddObservation button[type=submit] {
    background-color: #4CAF50;
    color: white;
}

.AddObservation button[type=button] {
    background-color: grey;
    color: white;
}

.AddObservation button:hover[type=button]  {
    background-color: darkgrey;
}

.AddObservation button:hover[type=submit]   {
    background-color: #45a049;
}

