.App {
  height: 100%;
  flex-direction: column;
  display: flex;
}

header {
  flex: 0 1 auto;
  padding-top: 10px;
  flex-shrink: 0;
  background-image: url("./images/banner.jpg");
  background-size: cover;
}

main {
  flex: 1 0 auto;
  padding: 20px;
  margin: auto;
}

footer {
  background-image: url("./images/banner.jpg");
  background-size: cover;
  color: #fcfaf1;
  margin-top: auto;
  text-align: center;
  flex-shrink: 0;
  padding: 20px;

}

footer p {
  font-size: 10px;
}

.App-h1 {
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 36px;
  text-align: center;
  color: #fcfaf1;
  text-decoration: none;
}
  
.App a,
.App a:active,
.App a:focus,
.App a:visited {
  text-decoration: none;
}

@media screen and (min-width: 460px) {
  main {
    width: 50%;
  }
}
