  .App {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .App-main {
    flex: 1 1 auto;
    height: 100%
  }
  
  .App-header {
    background-color: #333;
    flex: 0 1 auto;
  }

  .App-h1 {
    text-align: center;
    color: #fcfaf1;
  }
  
.App a,
.App a:active,
.App a:focus,
.App a:visited {
  color: #ececea;
  text-decoration: none;
}
