.Observation {
    width: 100%;
    display:flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.Observation-item {
    padding-right: 5px;
    border: white;
    align-self: center;
}

.Observation-title {
    font-weight: bold;
}


