.Observation {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;
    border-top: 2px solid;
}

.Observation-title {
    font-weight: bold;
    font-family: 'Homemade Apple', cursive;
    padding: 15px;
    font-size: 18px;
}

.Observation-button {
    background-color: #012611;
    width: 20%;
    color: #f2f2f2;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}


