.EditObservation h2 {
    text-align: center;
}

.EditObservation {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;  
}

.EditObservation textarea {
    font-family: sans-serif
}

.EditObservation input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.EditObservation button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.EditObservation button[type=submit]:hover {
    background-color: #45a049;
}

.EditObservation button[type=button] {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.EditObservation button[type=button]:hover {
    background-color: lightgray;
}

.EditObservation-error {
    color: red;
    text-align: center;
} 