.EditObservation h2 {
    text-align: center;
}

.EditObservation {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding: 20px;  
    font-family: 'Lato', sans-serif;
    border-style: solid;
    border-radius: 5px;
    border-image: url("../Utils/images/banner.jpg") 80 round;
    border-width: 5px;
}

.EditObservation input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }

.EditObservation button {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.EditObservation button[type=submit] {
    background-image: url("../Utils/images/button.png");
    background-size: cover;
    width: 100%;
    color: #f2f2f2;
    margin-top: 10px;
    border-radius: 4px;
}

.EditObservation button[type=button] {
    background-color: #4C6473;
    color: white;
}

.EditObservation button:hover[type=button]  {
    background-color: darkgrey;
}

.EditObservation-error {
    color: red;
    text-align: center;
} 