.RegistrationForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 75%;
    margin: 0 auto;
}


.RegistrationForm input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .RegistrationForm input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.RegistrationForm button[type=submit]  {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.RegistrationForm button[type=submit]:hover   {
    background-color:#4CAF60;
}

.RegistrationForm button[type=button]  {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.RegistrationForm-password p {
    font-style: italic;
    font-size: 12px;
    margin: 0px;
}

.red {
    color: red;
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
}

.RegistrationForm-latlng {
    margin-top: 25px;
}