.Nav {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding-bottom: 20px;
  }

.Nav a:not(:last-of-type) {
  margin-right: 32px;
}

.Nav a,
.Nav a:active,
.Nav a:focus,
.Nav a:visited {
  color: #ececea;
  text-decoration: none;
}